<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AMAP !{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/application.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('scripts/vendor.js') }}"></script>
        <base href="/">
    </head>
    <body data-ng-app="AmapApp" data-ng-controller="CoreController">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" data-ui-sref="home">AMAP</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-if="!isLoggedIn">
                    <a data-ui-sref="login">Se connecter</a>
                </li>
                <li data-ng-if="isLoggedIn" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span data-ng-bind="currentUser.username"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-ui-sref="logout">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

            <script type="text/javascript" src="{{ asset('app/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/core/core.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/core/core.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/amap/amap.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/amap/amap.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/produit/produit.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/produit/produit.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/producteur/producteur.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/producteur/producteur.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/auth/auth.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/auth/auth.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/auth/auth.service.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/adherent/adherent.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/adherent/adherent.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/benevole/benevole.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/benevole/benevole.router.js') }}"></script>
        {% endblock %}
    </body>
</html>
