<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AMAP !{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/application.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('scripts/vendor.js') }}"></script>
        <base href="/">
    </head>
    <body data-ng-app="AmapApp">
        <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand" data-ui-sref="home">AMAP</a>
                </div>
            <form class="navbar-form navbar-right login-navbar" role="login">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                    <input type="text" class="form-control" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

            <script type="text/javascript" src="{{ asset('app/app.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/core/core.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/core/core.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/amap/amap.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/amap/amap.router.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/login/login.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/produit/produit.module.js') }}"></script>
            <script type="text/javascript" src="{{ asset('app/modules/produit/produit.router.js') }}"></script>
        {% endblock %}
    </body>
</html>
